.login-form {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100%;
}

h3 {
   align-items:center;
   font-size: 40px;
   display: table;
   color: black;
   border: 2px solid bisque;
   border-radius: 5px;
   margin: auto;
   background-color: lightblue;
}

.invalid-feedback {
    color: #fa593c;
    font-size: 15px;
    text-align: left;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 5px;
}

em {
    text-align:center;
    color: lightcoral;
}

a {
    color:red;
    text-decoration: none;
}

.is-invalid {
    border: 2px solid #fa593c;
}

.form-input label {
    font-weight: 600;
    font-size: 18px;
}

#gap-label {
    margin-left: 25px;
}

#gaps {
    margin-left: 15px;
}

.form-input input {
    width: 250px;
    padding-left: 5px;
    padding-right:5px;
    margin-left: 17px;
    border-radius: 5px;
}

.login-form p {
    text-align: center;
}

.form-button {
   background-color: #fa593c;
   margin-left: 40%;
   color:white;
   border: 2px solid;
   border-color: black;
   display: flex;
   position: inherit;
   border-radius: 8px;
   padding: 10px 20px;
   font-weight: 600;
   cursor: pointer;
   &[disabled] {
    opacity: 0.7;
    cursor: default;
   }
}