<h1 id="chapter">PromptRep</h1>
<h1 id="header">Un repositorio de prompts, <i>reimaginado</i>.</h1>

<h2>&#10064; <u>Novedades</u>:</h2>
<p>Un camino largo por recorrer es el que me espera para que este sitio salga a la luz. Este sitio, más que un sueño, es una promesa que su creador hace a la comunidad de programadores, a expertos en IA e ingeniría de prompts.</p>
<p>La diferencia entre este y otros repositorios es la posibilidad de comunidad activa, de creación de contenido dentro de portales y entornos propios que permita, tanto al creador como al usuario común, mostrar, revisar y comparti prompts.</p>
<p>El sitio está organizado en categorías, que aparecen en el menú principal, encima de la barra de búsqueda.</p>
<h2 id="chars"><b>Estructura del sitio</b></h2>
<br />
<table width="75%">
    <tr>
        <th>Nombre</th>
        <th>Misión</th>
        <th>Descripción</th>
    </tr>
    <tr>
        <td>Comunidades</td>
        <td>Aquí se agrupan e integran las comunidades generales.</td>
        <td>Puede haber comunidades diversas generadas por los propios usuarios.</td>
    </tr>
    <tr>
        <td>Modelos</td>
        <td>Agrupa comunidades específicas relacionadas con instrucciones específicas para ciertos modelos.</td>
        <td>Los usuarrios pueden probar, compartir y comentar prompts de la comunidad orientado a modelos de IA específicos.</td>
    </tr>
    <tr>
        <td>Avanzado</td>
        <td>Agrupa los prompts avanzados o proyectos grandes.</td>
        <td>Todas las comunidades de proyectos grandes y prompts complejos pueden ir en esta categoría.</td>
    </tr>
    <tr>
        <td>Diseño</td>
        <td>Agrupa prompts orientados al diseño, a la generación de audio, video o imágenes.</td>
        <td>La comunidades de esta catgoría podrán compartir su creación artística y recibir valoraciones no solo por la calidad del prompt, sino también por su calidad artística.</td>
    </tr>
    <tr>
        <td>Sala Común</td>
        <td>Agrupa comunidades off-topic, curiosidades, temas de porgramación, entrenamientos de modelos y comunidades de consultas.</td>
        <td>Las comunidades no solo podrán compartir sus intereses en esta categoría, sino que podrán abrir tópicos de consulta, hablar sobre curiosidades y mostrar du destreza en programación.</td>
    </tr>
</table>

<br />
<div>
    <h3><b>Comentarios</b></h3>
    <div class="flex-center">
    <button (click)="toggleComments()" class="form-button">{{ showComments ? 'Ocultar Comentarios' : 'Mostrar Comentarios' }} ({{ totalComments }})</button>
</div>
<div class="selection-box">
    <select class="select-combo" [(ngModel)]="sortOrder" (change)="onSortChange()">
        <option value="best">Mejor calificados</option>
        <option value="worst">Peor calificados</option>
        <option value="newest">Más recientes</option>
        <option value="oldest">Más antiguos</option>
    </select>
</div>
<div>
    @if (showComments) {
        @for (parent of listComments; track parent.id) {
            @if (!parent.parent) {
        <div>
            <section class="comment-form">
                <div class="main-comments">    
                    <div>
                        @if (parent.username) {
                            <small id="small"><strong>Usuario: {{parent.username}}</strong>
                                @if (parent.is_superuser) {
                                    <small id="Admin" title="Administrador">Admin</small>
                                }
                            </small>
                        } @else {
                            <small id="small"><strong>[Usuario Eliminado]</strong></small>
                        } 
                        <small id="small"><span>Fecha de publicación: {{parent.date | date:'dd/MM/yyyy HH:mm'}}</span></small>
                    </div>
                    <span><strong>Dijo:</strong></span>
                    <div>
                        @if (parent.is_deleted) {
                        <p id="margin-deleted"> {{parent.message}}</p>
                        } @else {
                        <p id="margin"> {{parent.message}}</p>
                        }  
                    </div>
                    <div class="container">
                        <div class="child-1">
                        @if((authService.IsLoggedIn() && !parent.is_deleted) && parent.username !== "Usuario Eliminado") {
                        <button (click)="like(parent)" [class.active-like]="parent.user_vote === 'like'">+1</button>
                        }
                        <div>👍🏻 {{ parent.total_likes }}</div>
                        </div>
                        <div class="child-2">
                        @if((authService.IsLoggedIn() && !parent.is_deleted) && parent.username !== "Usuario Eliminado") {
                        <button (click)="dislike(parent)" [class.active-dislike]="parent.user_vote === 'dislike'">+1</button>
                        }
                        <div>👎🏻 {{ parent.total_dislikes }}</div>
                        </div>
                    </div>
                    <br />
                    @if (!authService.IsLoggedIn()) {
                        <p id="end-line">Debes <a routerLink="/login">Iniciar Sesión</a> para reportar.</p>
                        } @else {
                            @if (parent.username === authService.currentUser()?.username && !authService.currentUser()?.is_superuser) {
                                @if (parent.is_reported_by_anyone) {
                                <em><span id="cspan">Tu comentario ha sido reportado.</span></em>
                                }
                            } @else if (authService.currentUser()?.is_superuser) {
                                <span style="color:grey; cursor:default" title="Revise el panel de administración para ver los reportes." >[Modo Administrador]</span>
                            } @else {
                                @if (parent.has_reported) {
                                <span>✅ Reportado</span>
                                } @else if(!parent.is_deleted && parent.username !== "Usuario Eliminado") {
                                <div>
                                    <button class="red-flag-btn" (click)="onReport(parent)">Reportar</button>
                                </div>
                            }
                        }
                    } 
                    <br />
                    <div>
                        @if (!authService.IsLoggedIn()){
                        <p id="end-line">Debes <a routerLink="/login">Iniciar Sesión</a> para calificar.</p>
                        }
                    </div>
                    <div>
                        @if ((!parent.is_deleted && authService.IsLoggedIn()) && parent.username !== "Usuario Eliminado") {
                        <button (click)="setReply(parent)" class="form-button">Responder</button>
                        }
                    </div>
                    <br />
                    <div>
                        @if (((parent.username === authService.currentUser()?.username && !parent.is_deleted) || authService.currentUser()?.is_superuser) && !parent.is_deleted) {
                            <button type="button" (click)="deleteComment(parent); $event.preventDefault()" class="delete-button">Eliminar Comentario</button>
                        }
                    </div>
                    <br />
                </div>
            </section>
            <section class="reply-form">
                <div>
                    @for (child of listComments; track child.id) {
                        @if (child.parent && isInThread(child, parent.id)) {
                        <div [class.reply]="child.parent" class="comment-card" [style.margin-left.px]="child.parent !== parent.id ? 20 : 0">
                            <div>
                        @if (child.username) {
                            <small id="small"><strong>Usuario: {{child.username}}</strong>
                                @if (child.is_superuser) {
                                    <small id="Admin" title="Administrador">Admin</small>
                                }
                            </small>
                        } @else {
                            <small id="small"><strong>[Usuario Eliminado]</strong></small>
                        }
                            <small id="small"><span>Fecha de publicación: {{child.date | date:'dd/MM/yyyy HH:mm'}}</span></small>
                            <span>Respondiendo a @{{getReplyToName(child.parent)}}</span>
                            <div>
                                <span><strong>Dijo:</strong></span>
                                @if (child.is_deleted) {
                                <p id="margin-deleted"> {{child.message}}</p>
                                } @else {
                                <p id="margin"> {{child.message}}</p>
                                }  
                            </div>
                            <div class="container">
                                <div class="child-1">
                                    @if((authService.IsLoggedIn() && !child.is_deleted) && child.username !== "Usuario Eliminado") {
                                    <button (click)="like(child)" [class.active-like]="child.user_vote === 'like'">+1</button>
                                    }
                                    <div>👍🏻 {{ child.total_likes }}</div>
                                </div>
                                <div class="child-2">
                                    @if((authService.IsLoggedIn() && !child.is_deleted) && child.username !== "Usuario Eliminado") {
                                    <button (click)="dislike(child)" [class.active-dislike]="child.user_vote === 'dislike'">+1</button>
                                    }
                                    <div>👎🏻 {{ child.total_dislikes }}</div>
                                </div>
                                </div>
                                @if (!authService.IsLoggedIn()) {
                                    <p id="end-line">Debes <a routerLink="/login">Iniciar Sesión</a> para reportar.</p>
                                    } @else {
                                        @if (child.username === authService.currentUser()?.username && !authService.currentUser()?.is_superuser) {
                                            @if (child.is_reported_by_anyone) {
                                            <em><span id="cspan">Tu comentario ha sido reportado.</span></em>
                                            }
                                        } @else if (authService.currentUser()?.is_superuser) {
                                            <span style="color:grey; cursor:default" title="Revise el panel de administración para ver los reportes.">[Modo Administrador]</span>
                                        } @else {
                                            @if (child.has_reported) {
                                            <span>✅ Reportado</span>
                                            } @else if(!child.is_deleted && parent.username !== "Usuario Eliminado") {
                                            <div>
                                                <button class="red-flag-btn" (click)="onReport(parent)">Reportar</button>
                                            </div>
                                        }
                                    }
                                } 
                            <br />
                            <div>
                                @if (!authService.IsLoggedIn()){
                                <p id="end-line">Debes <a routerLink="/login">Iniciar Sesión</a> para calificar.</p>
                                }
                            </div>
                                @if (authService.IsLoggedIn() && child.username !== "Usuario Eliminado") {
                                <button (click)="setReply(child)" class="form-button">Responder</button>
                                }
                                <div>
                                <br />
                                @if ((child.username === authService.currentUser()?.username || authService.currentUser()?.is_superuser) && !child.is_deleted) {
                                    <button type="button" (click)="deleteComment(child); $event.preventDefault()" class="delete-button">Eliminar Comentario</button>
                                }
                                </div>
                                <br />
                            </div>
                        </div>
                        }
                    }
                    </div>
                </section>
        </div> }
        } @empty {
            <p id="end-line">No hay comentarios aún. ¡Se el primero en comentar!</p>
        }
    }
</div>
<br />
@if (authService.IsLoggedIn()) { 
<div>
    <h4>Deja tu comentario del tema:</h4>
    <section class="comment-form">
    <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
        <br />
        <input formControlName="username" type="text">
        <br />
        <br />
        <br />
        @if (replyingTo) {
            <div>
                Respondiendo a <strong>{{replyingTo.username}}</strong>
                <button (click)="replyingTo = null">X</button>
            </div>
        }
        <textarea formControlName="message" (input)="messageForm.get('message')?.updateValueAndValidity()" id="gap-textarea" placeholder="Escribe algo..." maxlength="3000"></textarea>
        <br/>
        <small id="gap-textarea">Caracteres: {{messageForm.get('message')?.value?.length || 0}} / 3000</small>
        <br/>     
        <br />
        <br />
        @if (errorMessage) { <p>{{ errorMessage }}</p>}
        <button [disabled]="messageForm.get('message')?.invalid || isSending" type="submit" class="form-button">{{ isSending ? 'Enviando...' : 'Enviar Mensaje'}}</button>
        <br/>
        <br/>
    </form>
    </section>
</div>
} @else {
    <div>
        <p id="end-line">Debes <a routerLink="/login">Iniciar Sesión</a> para comentar.</p>
    </div>
}
