button {
    border-radius: 4px;
    &:hover {
    background-color: coral;
    cursor: pointer;
    }
}

.comment-form {
    display: flex;
    justify-content: center;
    align-items:center; 
    width: 100%;
    height: 100%;
}

.main-comments {
   margin-left: 30px;
   border-left: 2px solid #ccc;
   padding-left: 10px;
   width: 100%;
   height:50%;
   max-width: 700px;
   align-items:left;
   overflow-wrap: break-word;
   word-wrap: break-word;
   word-break: break-all;
   background-color: antiquewhite;
}

.reply-form {
    display: flex;
    justify-content: right;
    align-items:left;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    width: 76%;
    height: 50%;
}


h2 {
    text-align: left;
    margin-left: 160px;
}

#chars {
    text-align: center;
    margin-left: 2px;
}

a {
    color: #fa593c;
}

h3 {
    text-align:center;
}

h4 {
    text-align: center;
}

p {
    text-align: left;
    margin: auto;
    width: 100%;
    max-width: 1000px;
}

#end-line {
    text-align: center;
}

.form-input input {
    width: 250px;
    padding-left: 5px;
    padding-right:5px;
    margin-left: 17px;
    border-radius: 5px;
}

table {
    margin-top: 2px;
    justify-content: center;
    object-position:center;
    border-radius: 6px solid;
    table-layout: fixed;
    text-align: center;
    border-radius: 6px dashed;
    border: 2px;
    margin: auto;
    td {
        letter-spacing: 1px;
        font-weight: 400;
        padding: 15px;
        color: black;
        border-color: aliceblue;
        background-color: rgb(132, 165, 204);
    }
    th {
        background-color: burlywood;
        padding: 15px;
        color: black;
        font-size: 30px;
        font-weight: 600;
    }
}

#gap-textarea {
   justify-self: center;
}

.red-flag-btn {
   width: 70px;
   clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
   transition: transform 0.2s, background-color 0.2s box-shadow 0.3s ease;
   border: none;
   box-shadow: 0 4px 6px rgba(0,0,0, 0.7);
   height: 30px;
   background-color: #ff4d4d;
   display: flex;
   align-items: center;
   color:white;
   font-size: 12px;
   font-weight: italic;
   &:hover {
    box-shadow: 0 8px 16px rgba(0,0,0, 0.5);
    background-color: coral;
    transform: scale(1, 1);
   }
   &:active {
    transform: scale(0.9);
   }
}

.form-button {
   background-color: #fa593c;
   margin-left: 40%;
   color:white;
   border: 2px solid;
   border-color: black;
   display: flex;
   position: inherit;
   margin: auto;
   border-radius: 8px;
   padding: 10px 20px;
   font-weight: 600;
   width:fit-content;
   cursor: pointer;
   &[disabled] {
    opacity: 0.7;
    cursor: default;
   }
}

.delete-button {
   background-color: #fa593c;
   margin-left: 70%;
   color:white;
   border: 2px solid;
   border-color: black;
   display: flex;
   position: inherit;
   margin: auto;
   border-radius: 8px;
   padding: 10px 20px;
   font-weight: 600;
   width:fit-content;
   cursor: pointer;
   &[disabled] {
    opacity: 0.7;
    cursor: default;
   }
}

#margin {
    margin: 0;
    line-height: 1.2;
    font-size: 0.95rem;
    color: #333;
    border: 2px solid;
    white-space: pre-wrap;
}

#margin-deleted {
    margin: 0;
    font-style: italic;
    line-height: 1.2;
    font-size: 0.95rem;
    color: #333;
    border: 2px solid;
    white-space: pre-wrap;
}

.comment-card.reply {
   margin-left: 30px;
   border-left: 2px solid #ccc;
   padding-left: 10px;
   background-color: #f9f9f9;
}

.container {
    margin: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 10px 5px;
    display: flex;
    background-color: #eeeccc;
    width: fit-content;
    border-radius: 5px;
    button {
        border-radius: 5px;
        border:none;
        background-color: whitesmoke;
        padding: 10px;
        margin: 0 5px;
        width: 50px;
        height: 50px;
        font-size: 20px;
        cursor: pointer;
    }
    div {
        min-width: 70px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-family: sans-serif;
    }
}

.child-1, .child-2 {
    display: inline-block;
    vertical-align: middle;
}

#small {
    display:flex;
    border: 2px solid;
    justify-content:space-between;
    color: #666;
    font-size: 0.85rem;
    margin-bottom: 2px;
}