.left {
    margin-left: auto;
}
#position {
    margin-top: 100px;
    display: block;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightblue;
    width: 580px;
    height: 300px;
    border-left: none;
    border-right: solid 5px orange;
    p {
        color: black;
        font-size: 13px;
        text-align: justify;
        font-weight: 600;
        justify-content: flex-start;
        margin-left: 10px;
        margin-right: 10px;
    }
}

h2 {
    color: black;
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    margin: auto;
    text-align: justify;
    margin-top: 5px;
    width: 100%;
    max-width: 550px;
}
button {
    box-shadow: 0 10px 20px rgba(0,0,0, 0.2);
    margin-left: 290px;
    margin-top: 0cap;
    height: 40px;
    border: 2px solid;
    border-color: black;
    justify-items: left;
    background-color: #fa593c;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
}

button {
    border-radius: 4px;
    &:hover {
    background-color: coral;
    cursor: pointer;
    }
}

div {
    margin-top: 10em;
    text-align: center;
}

a {
    color:red;
    margin-bottom: 34px;
    text-decoration: none;
    font-family: sans-serif;
}

.swell {
    transform: scale(1.1);
}


