.community-create {
  max-width: 760px;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
  padding: 4px 7px;
  border: 1px solid black;
  background-color: #fa593c;
  color: white;
  display:block;
  position:relative;
  margin-left: 1100px;
  border-radius: 6px;
  &:hover {
    background-color: coral;
  }
}

label {
  font-weight: 600;
  font-size: 18px;
}

h1 {
  text-align: center;
  margin: auto;
  background-color: lightblue;
  display: table;
  padding: 10px;
  border-radius: 5px;
}

form {
  display: grid;
  gap: 8px;
  margin-top: 52px;
}

textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
}

select {
  cursor: pointer;
  width: 20%;
  padding: 8px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
}


input {
  width: 50%;
  padding: 8px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
}

#description {
  background-color: blanchedalmond;
  border-radius: 6px;
  resize: vertical;
  border: 1px solid black;
}

button {
  background-color: #fa593c;
   margin-right: 40%;
   color:white;
   border: 2px solid;
   border-color: black;
   display: flex;
   position: inherit;
   margin-left: auto;
   border-radius: 8px;
   padding: 10px 20px;
   font-weight: 600;
   width:fit-content;
   cursor: pointer;
   &[disabled] {
    opacity: 0.7;
    cursor: default;
   }
   &:hover {
    background-color: coral;
   }
}

.error {
   color: #fa593c;
   font-size: 15px;
   text-align: left;
   margin-right:auto;
}
