<nav class="menu">
    <ul>
        <li><a routerLink="Inicio" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
        @for(num of [1, 2, 3, 4, 5, 6]; track num) {
        <li><a [routerLink]="'/Capítulo_' + num" routerLinkActive="active">Capítulo N°{{ num }}</a></li>
        }
    </ul>
</nav>
<nav>
    <div>
    @if (authService.IsLoggedIn()) {
        <div>
            <p>¡Bienvenido, <strong>{{ authService.currentUser()?.username }}</strong>!</p>
        </div>
        <button type="button" class="form-button" (click)="authService.logout()">Cerrar Sesión</button>
    } @else {
        <button routerLink="/login" type="button" class="form-button" (click)="authService.login('username')">Ingresar</button>
    }
    </div>
</nav>
<nav>
    <ul class="menu-desplegable">
        <li>
            <span>Mensajes</span>
            <ul>
                @if (!selectedConversation) {
                <li><span>Escribir a</span>
                  <div class="search-box">
                     <input type="text" placeholder="Buscar usuario..." class="search-input" (input)="onSearch($event)" (keydown.enter)="onEnterPressed()">
                     @for (conv of conversations; track conv.id) { Conversación iniciada con {{ getOtherUser(conv) }}} Mensajes no leídos: @if(totalUnreadCount > 0) {{{  totalUnreadCount }}} @else {{{  totalUnreadCount }} @if(searchResults.length === 0 && totalUnreadCount === 0){<li><span id="total-length">No hay mensajes nuevos. Realice una nueva búsqueda para ver si hay otros mensajes.</span></li>}}
                    @if (searchResults.length > 0) {
                        <div class="search-results">
                            <h3>Resultados de la búsqueda: </h3>
                            @for (user of searchResults; track user.id) {
                                <div class="search-item" (mousedown)="selectUser(user); $event.preventDefault()">
                                    <br />
                                       <span>&#64;<i>{{ user.username }}
                                                 @if (user.is_superuser) {
                                                    <i>(Admin)</i>
                                                 }
                                       </i></span>                           
                                    <br />
                                </div>
                            }
                        </div>
                    }
                  </div>
                </li>
                }
                @else {
                @for (conv of conversations; track conv.id) { 
                    <li>
                        <button (click)="selectChat(conv)">
                        Mensajes de {{ getOtherUser(conv) }}
                        @if (conv.unread_count > 0) {
                            <div class="tiny-circle"></div>
                        }
                    </button>
                        @if (selectedConversation?.id === conv.id) {
                        <div class="chat-container" #scrollContainer>
                            <div>
                               <button (click)="selectedConversation = null" class="button-back">&#8592; Volver</button>
                               <p>Conversando con {{ getOtherUser(conv) }} 
                               @if (isOtherUserAdmin(conv)) {
                                  <i>(Admin)</i>
                               }
                               </p>
                               @for (msg of messages; track msg.id) {
                                <br />
                                <div class="message-row" [ngClass]="{'sent': msg.is_me, 'received': !msg.is_me}">
                                    <div [ngClass]="{'bubble-2':msg.is_me, 'bubble': !msg.is_me}">
                                        <span>{{ msg.text }}</span>
                                    </div>
                                </div>
                                <br />
                               }
                               <div class="response">
                                  <textarea [(ngModel)]="newText" placeholder="Responde..."></textarea>
                                  <button (click)="sendMessage()">&#8593;</button>
                               </div>
                            </div>
                        </div>
                         }
                    </li>
                    }
                } 
                </ul>
            </li>
        </ul>
</nav>
